# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains workspace-specific configuration that should not be in version control.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/chrome-device/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
**/android/local.properties
**/android/key.properties
**/android/app/key.jks
**/android/app/*.keystore
**/android/**/google-services.json
**/.gradle/

# iOS
**/ios/Runner/GoogleService-Info.plist
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json

# macOS
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/**/*.exe
**/windows/**/*.ilk
**/windows/**/*.pdb
**/windows/**/*.sln

# Web
**/web/build/

# Coverage
coverage/
